Notebook created: 2018-05-23 03:37:51  
Generated from: _build_py/py/python_essentials.rst

In [3]:
x = True
x

True

```none
True
```

In [4]:
y = 100 < 10
y

False

```none
False
```

In [5]:
type(y)

bool

```none
bool
```

In [6]:
x + y

1

```none
1
```

In [7]:
x * y

0

```none
0
```

In [8]:
True + True

2

```none
2
```

In [9]:
bools = [True, True, False, True]  # List of Boolean values

sum(bools)

3

```none
3
```

In [10]:
a, b = 1, 2
c, d = 2.5, 10.0
type(a)

int

```none
int
```

In [11]:
type(c)

float

```none
float
```

In [12]:
1 / 2

0.5

```none
0.5
```

In [13]:
1 // 2

0

```none
0
```

In [14]:
x = complex(1, 2)
y = complex(2, 1)
x * y

5j

```none
5j
```

In [15]:
x = ('a', 'b')  # Parentheses instead of the square brackets
x = 'a', 'b'    # Or no brackets --- the meaning is identical
x

('a', 'b')

```none
('a', 'b')
```

In [16]:
type(x)

tuple

```none
tuple
```

In [17]:
x = [1, 2]
x[0] = 10
x

[10, 2]

```none
[10, 2]
```

```python
x = (1, 2)
x[0] = 10
```

```none
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<python-input-21-6cb4d74ca096> in <module>()
----> 1 x[0]=10

TypeError: 'tuple' object does not support item assignment
```

In [18]:
integers = (10, 20, 30)
x, y, z = integers
x

10

```none
10
```

In [19]:
y

20

```none
20
```

In [20]:
a = [2, 4, 6, 8]
a[1:]

[4, 6, 8]

```none
[4, 6, 8]
```

In [21]:
a[1:3]

[4, 6]

```none
[4, 6]
```

In [22]:
a[-2:]  # Last two elements of the list

[6, 8]

```none
[6, 8]
```

In [23]:
s = 'foobar'
s[-3:]  # Select the last three elements

'bar'

```none
'bar'
```

In [24]:
d = {'name': 'Frodo', 'age': 33}
type(d)

dict

```none
dict
```

In [25]:
d['age']

33

```none
33
```

In [26]:
s1 = {'a', 'b'}
type(s1)

set

```none
set
```

In [27]:
s2 = {'b', 'c'}
s1.issubset(s2)

False

```none
False
```

In [28]:
s1.intersection(s2)

{'b'}

```none
set(['b'])
```

In [29]:
s3 = set(('foo', 'bar', 'foo'))
s3

{'bar', 'foo'}

```none
set(['foo', 'bar'])  # Unique elements only
```

In [ ]:
f = open('newfile.txt', 'w')   # Open 'newfile.txt' for writing
f.write('Testing\n')           # Here '\n' means new line
f.write('Testing again')
f.close()

In [ ]:
%pwd

In [ ]:
f = open('newfile.txt', 'r')
out = f.read()
out

```none
'Testing\nTesting again'
```

In [ ]:
print(out)

```none
Testing
Testing again
```

```python
f = open('insert_full_path_to_file/newfile.txt', 'r')
```

In [ ]:
%%file us_cities.txt
new york: 8244910
los angeles: 3819702
chicago: 2707120
houston: 2145146
philadelphia: 1536471
phoenix: 1469471
san antonio: 1359758
san diego: 1326179
dallas: 1223229

In [ ]:
data_file = open('us_cities.txt', 'r')
for line in data_file:
    city, population = line.split(':')         # Tuple unpacking
    city = city.title()                        # Capitalize city names
    population = f'{int(population):,}'        # Add commas to numbers
    print(city.ljust(15) + population)
data_file.close()

```none
New York       8,244,910
Los Angeles    3,819,702
Chicago        2,707,120
Houston        2,145,146
Philadelphia   1,536,471
Phoenix        1,469,471
San Antonio    1,359,758
San Diego      1,326,179
Dallas         1,223,229
```

In [ ]:
x_values = [1, 2, 3]  # Some iterable x
for x in x_values:
    print(x * x)

In [ ]:
for i in range(len(x_values)):
    print(x_values[i] * x_values[i])

In [ ]:
countries = ('Japan', 'Korea', 'China')
cities = ('Tokyo', 'Seoul', 'Beijing')
for country, city in zip(countries, cities):
    print(f'The capital of {country} is {city}')

In [ ]:
names = ['Tom', 'John']
marks = ['E', 'F']
dict(zip(names, marks))

```none
{'John': 'F', 'Tom': 'E'}
```

In [ ]:
letter_list = ['a', 'b', 'c']
for index, letter in enumerate(letter_list):
    print(f"letter_list[{index}] = '{letter}'")

In [ ]:
letter_list[0] = 'a'
letter_list[1] = 'b'
letter_list[2] = 'c'

In [ ]:
x, y = 1, 2
x < y

```none
True
```

In [ ]:
x > y

```none
False
```

In [ ]:
1 < 2 < 3

```none
True
```

In [ ]:
1 <= 2 <= 3

```none
True
```

In [ ]:
x = 1    # Assignment
x == 2   # Comparison

```none
False
```

In [ ]:
1 != 2

```none
True
```

In [ ]:
x = 'yes' if 42 else 'no'
x

```none
'yes'
```

In [ ]:
x = 'yes' if [] else 'no'
x

```none
'no'
```

In [ ]:
1 < 2 and 'f' in 'foo'

```none
True
```

In [ ]:
1 < 2 and 'g' in 'foo'

```none
False
```

In [ ]:
1 < 2 or 'g' in 'foo'

```none
True
```

In [ ]:
not True

```none
False
```

In [ ]:
not not True

```none
True
```

In [ ]:
max(19, 20)

```none
20
```

In [ ]:
range(4)  # in python3 this returns a range iterator object

```none
range(0, 4)
```

In [ ]:
list(range(4))  # will evaluate the range iterator and create a list

```none
[0, 1, 2, 3]
```

In [ ]:
str(22)

```none
'22'
```

In [ ]:
type(22)

```none
int
```

In [ ]:
bools = False, True, True
all(bools)  # True if all are True and False otherwise

```none
False
```

In [ ]:
any(bools)  # False if all are False and True otherwise

```none
True
```

In [ ]:
def f(x):
    if x < 0:
        return 'negative'
    return 'nonnegative'

In [ ]:
def f(x):
    """
    This function squares its argument
    """
    return x**2

In [ ]:
f?

```none
Type:       function
String Form:<function f at 0x2223320>
File:       /home/john/temp/temp.py
Definition: f(x)
Docstring:  This function squares its argument
```

In [ ]:
f??

```none
Type:       function
String Form:<function f at 0x2223320>
File:       /home/john/temp/temp.py
Definition: f(x)
Source:
def f(x):
    """
    This function squares its argument
    """
    return x**2
```

In [ ]:
def f(x):
    return x**3

In [ ]:
f = lambda x: x**3

In [ ]:
from scipy.integrate import quad

quad(lambda x: x**3, 0, 2)

```none
(4.0, 4.440892098500626e-14)
```

```python
plt.plot(x, 'b-', label="white noise")
```

In [ ]:
def f(x, a=1, b=1):
    return a + b * x

In [ ]:
f(2)

```none
3
```

In [ ]:
f(2, a=4, b=5)

```none
14
```

In [ ]:
x_vals = [1, 2, 3]
y_vals = [1, 1, 1]
sum([x * y for x, y in zip(x_vals, y_vals)])

```none
6
```

In [ ]:
sum(x * y for x, y in zip(x_vals, y_vals))

```none
6
```

In [ ]:
sum([x % 2 == 0 for x in range(100)])

```none
50
```

In [ ]:
sum(x % 2 == 0 for x in range(100))

```none
50
```

In [ ]:
len([x for x in range(100) if x % 2 == 0])

```none
50
```

In [ ]:
sum([1 for x in range(100) if x % 2 == 0])

```none
50
```

In [ ]:
pairs = ((2, 5), (4, 2), (9, 8), (12, 10))
sum([x % 2 == 0 and y % 2 == 0 for x, y in pairs])

```none
2
```

In [ ]:
def p(x, coeff):
    return sum(a * x**i for i, a in enumerate(coeff))

In [ ]:
p(1, (2, 4))

```none
6
```

In [ ]:
def f(string):
    count = 0
    for letter in string:
        if letter == letter.upper() and letter.isalpha():
            count += 1
    return count
f('The Rain in Spain')

```none
3
```

In [ ]:
def f(seq_a, seq_b):
    is_subset = True
    for a in seq_a:
        if a not in seq_b:
            is_subset = False
    return is_subset

# == test == #

print(f([1, 2], [1, 2, 3]))
print(f([1, 2, 3], [1, 2]))

```none
True
False
```

In [ ]:
def f(seq_a, seq_b):
    return set(seq_a).issubset(set(seq_b))

In [ ]:
def linapprox(f, a, b, n, x):
    """
    Evaluates the piecewise linear interpolant of f at x on the interval
    [a, b], with n evenly spaced grid points.

    Parameters
    ===========
        f : function
            The function to approximate

        x, a, b : scalars (floats or integers)
            Evaluation point and endpoints, with a <= x <= b

        n : integer
            Number of grid points

    Returns
    =========
        A float. The interpolant evaluated at x

    """
    length_of_interval = b - a
    num_subintervals = n - 1
    step = length_of_interval / num_subintervals

    # === find first grid point larger than x === #
    point = a
    while point <= x:
        point += step

    # === x must lie between the gridpoints (point - step) and point === #
    u, v = point - step, point

    return f(u) + (x - u) * (f(v) - f(u)) / (v - u)